<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="form-signin text-center">
            <img class="card-img-top" [src]="cat.imageUrl" alt="Card image cap">
            <div class="card-body text-center" style="font-style: normal;">
              <p class="card-text">{{cat.description}}</p>
              <a (click)="deleteCat()" class="btn btn-lg btn-danger btn-block text-uppercase">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
